.hero {
  padding: 6.25rem 0;

  &.top-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h1,
    p {
      max-width: 35.875rem;
      margin: 0 auto;
    }

    h1 {
      margin-bottom: 1rem;
    }

    p {
      font-size: $font-size-md;
      line-height: 1.875em;
    }

    .buttons {
      margin-top: 2.5rem;
    }

    .heros-images {
      position: relative;
      width: 100%;
      margin-top: 5rem;

      img {
        position: relative;
        top: 7.125rem;
        right: 20%;
        width: 60%;
        height: auto;

        &:last-child {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 2;
        }
      }
    }
  }
}
